<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testing AMS Dev Enviornment">
    
<listeners>
	<listener class-name="extentReports.ExtentReportTestNG"/>
</listeners>
 
 <test name="RegressionSuite">
         <classes>
             <class name="tests.LoginTestCases"/>
             <class name="tests.CRUDTests"/>
             <class name="tests.LocationTests"/>
			<class name="tests.AccessGroupTests"/>
          </classes>
     </test> 

	
</suite> <!-- Suite -->

